body {
    background-color: white;
    background-repeat: repeat-y;
    background-image: url('../img/house-inside.png');
    /*background-size: 1920px 1080px;
*/background-size: cover;}

.story-readin {
    overflow-x: hidden;
    background-color: #888888FF;
    border-radius: 15px;
    bottom: 10px;
    position: fixed;
    bottom: 20px;
    width: 50%;
    left: 25%;
    text-align: center;
    min-width: 350px;
}

.map1 {
    padding-top: 4%;
    padding-left: 78.2%;
}

button {
    border-radius: 15px;
    background-color: #00000059;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    width: 200px;
    transition-duration: 0.4s;
    margin-bottom: 10px;
    font-family: 'Minecraft', sans-serif;
}

button:hover {
	background-color: #b4b4b4b7
}

.main {
    text-align: center;
}

.inline-code {
    z-index: 2147483646;
    position: fixed;
    top: 25%;
    left: 39%;
}

.hide {
    display: none;
}

.topbar-button {
    margin-left: 5px;
    margin-top: 10px;
}

.topbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #22222259;
    float: left;
    overflow: hidden;
    display: block;
}