body {
    text-align: center;
    background-color: black;
    color: white;
}

iframe {
    background-color: white;
    opacity: 50%;
}

button {
    color: red;
    border-width: 0px;
    background-color: transparent;
    font-size: large;
}

.counter {
    margin: 20px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}