body {
    background-color: white;
    /* background-image: url("../death\ screen/g.png"); */
}

iframe {
    overflow-x: hidden;
    /* background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red); */
}

/* TODO: Fade in animation */

.main {
    text-align: center;
}

.inline-code {
    z-index: 2147483646;
    position: fixed;
    top: 25%;
    left: 39%;
}

.buttons {
	border-radius: 15px;
	background-color: #00000059; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	font-size: 16px;
	width: 200px;
	transition-duration: 0.4s;
}